@import './variables.scss';
@import './reset.scss';

body,
html {
  font-family: $fontFamily;
  font-weight: var(--fontRegular);
  overflow-x: hidden;
}
textarea {
  font-family: $fontFamily;
}
button:focus,
input:focus,
textarea:focus,
select:focus,
section:active {
  outline: none;
}

$justifyContent: (
  SpaceBetween: space-between,
  FlexEnd: flex-end,
  Center: center,
  SpaceAround: space-around,
);
.dFlex {
  display: flex;
  align-items: center;
  @each $content, $value in $justifyContent {
    &.justifyContent#{$content} {
      justify-content: $value;
    }
  }
  &.directionColumn {
    flex-direction: column;
  }
}

table th:first-child {
  border-radius: 5px 0 0 5px;
}

table th:last-child {
  border-radius: 0 5px 5px 0;
}

tr td {
  padding: 10px 20px;
  border-bottom: solid 1px #ccc;
  text-align: left;
}

.success {
  color: greenyellow;
}

.fail {
  color: red;
}

.textPrimary {
  color: rgb(64, 94, 130);
}

button:hover {
  cursor: pointer;
}

.MuiPagination-root {
  button {
    &.Mui-selected {
      background-color: #405e82;
      color: #fff;
    }
  }
}